/* NAVIGATION */
.navbar {
  background: #999;
  border: 0;
  border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

/* FORM VALIDATION */
.is-invalid {
  border-color: firebrick;
}

.invalid-feedback span {
  color: firebrick;
  display: inline-block;
  margin-top: 4px;
  font-size: 12px;
}
